@model TiendaNET_CesarGayo.PedidoSet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PedidoSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioSet.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioSet.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
