@model IEnumerable<TiendaNET_CesarGayo.ProductoSet>
    <div>
        <p>
            <h3>
                @Html.ActionLink("Comprar", "VolcarCarrito", "Carrito")
            </h3>
        </p>
    </div>
<table class="table">

    @{
        int subtotal = 0;
        int total = 0;
    }


    @foreach (var item in Model)
    {
        {
            subtotal = 0;
            subtotal += Convert.ToInt32(item.Cantidad * (item.Precio));
            total += subtotal;
        }

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @subtotal €
        </td>
        <td>
            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
        </td>
    </tr>
    }
    <tr>
        <td>
            <h3>Total</h3> <strong>@total</strong> €
        </td>
    </tr>

</table>


